name: CD Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: my-crud-app-lp-2026

    - name: Trigger Cloud Build
      run: |
        gcloud builds submit --config=cloudbuild.yaml .
